
  .wrapper{
    margin:auto 0;
    box-sizing: border-box;
  }
  .foto{
    
    max-width: 100%;
    height: auto;
  }
  .number {
    user-select: none;
    position: relative;
    text-align: left;
    padding: 0;
    width: 90px;
    border: 1px solid #ddd;
    display: inline-block;
}
.number-minus, .number-plus {
    position: absolute;
    top: 0;
    width: 25px;
    height: 24px;
    line-height: 24px;
    display: block;
    background: #faf4f2;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: arial;
    color: #3e1e02;
    text-decoration: none;

}
.number-minus {
	left: 0;
	border-right: 1px solid #ddd;
}
.number-plus {
	right: 0;
	border-left: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
	background: #fffcfb;
  text-decoration: none;
  color: #3e1e02;

}
.number-minus:active, .number-plus:active {
  color: #3e1e02;
	background: #e8e4e2;
  text-decoration: none;
}
.number-text{
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    height: 22px;
    padding: 0;
    margin: 0 0 0 32px;
    background: #fff;
    outline: none;
    border: none;
    width: 27px;
    text-align: center;
}